.jumbotron{
	background-image: url('img/2.jpg');
	background-size: cover;
	height: 620px;
}

.jumbotron .display-4{
	margin-top: 150px;
	margin-left: 520px;
	color: aqua;
}
.jumbotron .lead{
	margin-left: 520px;
	color: aqua;
}
.jumbotron hr{
	margin-left: 520px;
	width: 600px;
	color: aqua;
}
.jumbotron .btn{
	margin-left: 520px;
}

.card{
	width: 20rem;
	margin-top: -150px;
	margin-left: 50px;
}
.card .display-4{
	font-size: 35px;
}


h1 {
	text-align: center;
	background-color: salmon;
}

p{
	text-align: center;
	background-color: salmon;
}